<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      Whistleblowing - Comune di Venezia (cf 00339370272)
    </div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/technology">Tecnologia</a></li>
      <li><a href="/privacy">Privacy&Terms</a></li>
    </ul>
  </div>

  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a target="_blank" href="http://www.venis.it">powered by <img class="venis-logo" src="/img/logo-venis-white.png"></a></li>
    </ul>
  </div>
</footer>
