<div id="modal" class="modal modal__bg">
  <div class="modal__dialog">
    <div class="modal__content">
      <div class="modal__header">
        <div class="modal__title">
          <h2 class="modal__title-text title"></h2>
        </div>
        <span class="mdl-button mdl-button--icon mdl-js-button material-icons modal__close"></span>
      </div>

      <div class="modal__text">
        <p class="msg"></p>
      </div>

      <div class="modal__footer">
        <a class="mdl-button mdl-button--colored mdl-js-button modal__close">
          Chiudi
        </a>
      </div>
    </div>
  </div>
</div>
