<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Configura</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <h5>Configura l'applicazione</h5>
    </div>

    {{#with config}}
    <div class="mdl-card__actions mdl-card--border">
      <form action="config" method="POST" enctype="multipart/form-data">
        <div class="mdl-grid">

          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="email" name="email" value="{{email}}"/>
              <label class="mdl-textfield__label" for="email">Email</label>
              <span class="mdl-textfield__error">Devi inserire una email valida!</span>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
              <textarea class="mdl-textfield__input" type="text" rows= "6" name="presentation" >{{presentation}}</textarea>
              <label class="mdl-textfield__label" for="presentation">Testo di presentazione</label>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
              <input class="mdl-textfield__input" id="uploadFile" placeholder="Logo" type="text" readonly/>
              <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                <i class="material-icons">attach_file</i>
                <input type="file" id="uploadBtn" name="logo">
              </div>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
              <input class="mdl-textfield__input" id="uploadFile2" placeholder="Logo menu" type="text" readonly/>
              <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                <i class="material-icons">attach_file</i>
                <input type="file" id="uploadBtn2" name="logomenu">
              </div>
            </div>
          </div>

          <!--
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
              <textarea class="mdl-textfield__input" type="text" rows= "3" id="pubkeywistle" name="pubkeywistle" ></textarea>
              <label class="mdl-textfield__label" for="pubkeywistle">pubkey responsabile</label>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
              <textarea class="mdl-textfield__input" type="text" rows= "3" id="pubkeyuser" name="pubkeyuser" ></textarea>
              <label class="mdl-textfield__label" for="pubkeyuser">pubkey referente unico</label>
            </div>
          </div>
          -->

          <div class="mdl-cell mdl-cell--12-col">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              Invia
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
    {{/with}}
  </div>
</div>

{{#section 'afterbody'}}
  <script>
    function sendFile(btn, input) {
      document.getElementById(btn).onchange = function (e) {
        if(!e.target.files) return;

        document.getElementById(input).value = '';

        var files = e.target.files;
        for(var i=0; i < files.length; i++) {
          var f = files[i];
          console.log(f);
          document.getElementById(input).value += f.name + " ";
        }
      };
    }

    sendFile('uploadBtn', 'uploadFile');
    sendFile('uploadBtn2', 'uploadFile2');
  </script>
{{/section}}
