{{#section 'head'}}
  <link rel="stylesheet" href="/bower_components/material-modal/dist/css/material-modal.min.css">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/openpgp/dist/openpgp.min.js"></script>
{{/section}}

<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Genera Chiavi</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Generatore di chiavi pubblica e privata
    </div>
    <div class="mdl-card__actions mdl-card--border">

      <form>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input name="userid" id="userid" class="mdl-textfield__input" type="email" required/>
              <label class="mdl-textfield__label" for="userid">Email</label>
              <span class="mdl-textfield__error">Devi inserire una email valida!</span>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input name="passphrase" id="passphrase" class="mdl-textfield__input" type="text" required/>
              <label class="mdl-textfield__label" for="passphrase">passphrase</label>
              <span class="mdl-textfield__error">Devi inserire una passfrase!</span>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col">
            <button id="generateKeys" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent modal__trigger" data-modal="#modal">
              Genera chiavi
            </button>
          </div>

          <div class="mdl-cell mdl-cell--12-col hide">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
              <textarea id="pubkey" class="mdl-textfield__input" type="text" rows= "6"></textarea>
              <label class="mdl-textfield__label" for="pubkey"></label>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col hide">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
              <textarea id="privkey" class="mdl-textfield__input" type="text" rows= "6"></textarea>
              <label class="mdl-textfield__label" for="privkey"></label>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

{{#section 'beforebodyend'}}
  <div id="modal" class="modal modal__bg modal--align-top">
    <div class="modal__dialog">
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__title">
            <h2 class="modal__title-text">Chiavi</h2>
          </div>
        </div>

        <div class="modal__text">
          <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
          Generazione chiavi in corso...
        </div>

      </div>
    </div>
  </div>
{{/section}}

{{#section 'afterbody'}}
  <script src="/js/material-modal/material-modal.js"></script>
  <script>
    $('form').submit(function (e) {
      e.preventDefault();

      var options = {
        numBits: 2048,
        userId: $('#userid').val(),
        passphrase: $('#passphrase').val()
      };

      Modal.create(
        document.getElementById('generateKeys'),
        document.getElementById('modal')
      );

      setTimeout(function () {
        openpgp
          .generateKeyPair(options)
          .then(function(keypair) {
            // success
            var privkey = keypair.privateKeyArmored;
            var pubkey = keypair.publicKeyArmored;

            $('#modal').remove();
            $('#generateKeys').remove();

            $('#privkey')
              .val(privkey)
              .closest('.mdl-cell').show();

            $('#pubkey')
              .val(pubkey)
              .closest('.mdl-cell').show();
          }).catch(function(error) {
            console.error(error);
          });
      }, 500);

      return false;
    });
  </script>
{{/section}}
