<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">F.A.Q. (Frequently Asqued Questions)</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>
        <strong>Cosè il whistleblowing?</strong><br/>
        Per whistleblowing si intende il segnalare informazioni, riguardo ad un fatto, una condotta illecita o irregolare successa, percepita o al rischio della stessa, agli organi che, secondo quanto previsto dalla legge, possano agire ed intervenire efficacemente al riguardo.
      </p>

      <p>
        <strong>Chi è il whistleblower?</strong><br/>
        Il whistleblower è il dipendente comunale che segnala agli organi legittimati ad intervenire, violazioni o irregolarità commesse ai danni dell’interesse pubblico.
      </p>

      <p>
        <strong>Perchè il whistleblowing?</strong><br/>
        Il  whistleblowing è una misura obbligatoria prevista dalla legge anticorruzione, dal Piano Nazionale Anticorruzione e dal  Piano Triennale di Prevenzione della Corruzione del Comune di Venezia, per prevenire l'insorgere di fenomeni corruttivi.
      </p>

      <p>
        <strong>Cosa si può segnalare?</strong><br/>
        Puoi segnalare non solo i reati contro la Pubblica Amministrazione di cui al Titolo II, Capo I, del Codice Penale, ma anche tutti i fatti, le condotte illecite o irregolari, in cui, nel corso dell’attività amministrativa, si riscontri l’abuso di un soggetto del potere a lui affidato al fine di ottenere vantaggi privati, quali, tra gli altri: nepotismo, sprechi, demansionamenti, reiterato mancato rispetto dei tempi di conclusione dei procedimenti amministrativi,  violazione dei codici di comportamento o di alte disposizioni comunali,  irregolarità contabili, false dichiarazioni, false certificazioni, violazione di norme in materie ambientali, di sicurezza sul lavoro e di controlli,  assunzioni non trasparenti, azioni suscettibili di creare un danno all’immagine del Comune di Venezia...
      </p>

      <p>
        <strong>L'iter della segnalazione</strong><br/>
        Il procedimento di gestione della segnalazione si articola attraverso le seguenti fasi:<br/>
        <ul>
          <li>il segnalante si accredita sulla intranet comunale nella quale è sviluppato questo applicativo di gestione delle segnalazioni;</li>
          <li>il segnalante invia una segnalazione compilando il “form” all’interno del software e riceve, subito dopo la separazione dei suoi dati identificativi dal contesto della segnalazione, un username (direttamente dal software) e una password tramite mail. Tali codici sono indispensabili per seguire l'iter della segnalazione e gli input del responsabile di prevenzione della corruzione, in quanto quest'ultimo non conosce l'identità del segnalante. Si consiglia di custodirli segretamente e con la massima attenzione e in caso di perdita non sarà più possibile risalire alla segnalazione. In tal caso, è necessario procedere ad effettuare nuova segnalazione riprendendo il contenuto di quella vecchia;</li>
          <li>la segnalazione arriva direttamente al Responsabile della prevenzione della corruzione, che  la prende in carico per una prima sommaria istruttoria. Se necessario, potrà richiedere, esclusivamente attraverso il software, chiarimenti e/o integrazioni allo stesso;</li>
          <li>il Responsabile della prevenzione della corruzione può decidere, sulla base della valutazione dei fatti oggetto della segnalazione, in caso di evidente e manifesta infondatezza, di archiviare la segnalazione. In caso contrario, valuta a chi inoltrare la segnalazione in relazione ai profili di illiceità riscontrati tra i seguenti soggetti: direttore della Direzione è ascrivibile il fatto, ufficio procedimenti disciplinari, Autorità giudiziaria, Corte dei conti, Dipartimento della funzione pubblica, Autorità Nazionale Anticorruzione;</li>
          <li>il segnalante può monitorare lo stato di avanzamento dell’istruttoria accedendo al sistema di gestione utilizzando l'username e la password ricevuti;</li>
          <li>il Responsabile della prevenzione della corruzione comunica, entro il termine di conclusione del procedimento (90 giorni), al segnalante le risultanze della sua istruttoria e gli eventuali atti e attività intraprese in merito alla segnalazione stessa, sempre esclusivamente attraverso il software.</li>
        </ul>
      </p>

      <p>
        <strong>La tutela del whistleblower</strong><br/>
        Ti viene garantita la tutela e la protezione, anche attraverso l’anonimato, contro ogni forma di discriminazione che potrebbe derivare direttamente e indirettamente dalla segnalazione di illecito. La tua identità non può essere rivelata, senza il tuo consenso, nemmeno nel corso di un procedimento disciplinare avviato nei confronti del segnalato, a meno che il contenuto dell’informazione non sia indispensabile per la contestazione dell’illecito.<br/>
        Nella sola ipotesi in cui la contestazione che ha dato origine al procedimento disciplinare, si basi unicamente sulla tua segnalazione, colui che è sottoposto al procedimento disciplinare può accedere al tuo nominativo, anche in assenza del tuo consenso, ma solo se ciò sia assolutamente indispensabile per la propria difesa.<br/>
        La segnalazione è sottratta al diritto di accesso agli atti amministrativi di cui alla legge n. 241/1990 e al vigente regolamento comunale in materia.
      </p>
    </div>
  </div>
</div>
