<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Lista dei whistles</h2>
    </div>
    <!--
    <div class="mdl-card__supporting-text">
      <h5>Lista dei whistles</h5>
    </div>
    -->
    <div class="mdl-card__actions mdl-card--border">
      <table class="mdl-data-table mdl-shadow--2dp full-width">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Stato</th>
            <th class="mdl-data-table__cell--non-numeric full-width hideonsmallscreen">ID</th>
            <th class="mdl-data-table__cell--non-numeric">Data</th>
            <th class="mdl-data-table__cell--non-numeric">Visualizza</th>
          </tr>
        </thead>
        <tbody>
          {{#each whistles}}
            <tr>
              <td class="mdl-data-table__cell--non-numeric {{state}}">{{replaceState state}}</td>
              <td class="mdl-data-table__cell--non-numeric {{state}} hideonsmallscreen">{{id}}</td>
              <td class="mdl-data-table__cell--non-numeric {{state}}">{{formatDate date 'DD/MM/YYYY HH:mm'}}</td>
              <td class="mdl-data-table__cell--button">
                <a href="/whistles/{{id}}">
                  <button class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">chevron_right</i>
                  </button>
                </a>
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="4" class="mdl-data-table__cell--non-numeric {{state}}"><strong>Nessun whistle presente al momento</strong></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
