{{#section 'head'}}
  <link rel="stylesheet" href="/bower_components/material-modal/dist/css/material-modal.min.css">
  <link rel="stylesheet" href="/js/paper-collapse/paper-collapse.css">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/openpgp/dist/openpgp.min.js"></script>
  <script src="/bower_components/momentjs/min/moment.min.js"></script>
{{/section}}

<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Decripta i dati dell'utente</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Dati dell'utente
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="mdl-grid">
        <form id="getuserdata">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="whistleid" required/>
              <label class="mdl-textfield__label" for="whistleid">Whistle ID</label>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              Recupera i dati
            </button>
          </div>
        </form>

        <form id="decript" class="full-width">
          <section id="decriptsection" class="hide">
            <div class="mdl-cell mdl-cell--12-col">
              <div class="collapse-card mdl-shadow--2dp">
                <div class="title">
                  <i class="material-icons more">expand_more</i>
                  <i class="material-icons less hide">expand_less</i>
                  <strong>Dati Utente Criptati</strong>
                </div>
                <div id="encrypteduser" class="body"></div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
                <textarea id="privkey" class="mdl-textfield__input" type="text" rows= "6" required></textarea>
                <label class="mdl-textfield__label" for="privkey">Private key</label>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="passphrase" class="mdl-textfield__input" type="password" required/>
                <label class="mdl-textfield__label" for="passphrase">Passphrase</label>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Decripta
              </button>
            </div>

            <div class="mdl-cell mdl-cell--12-col hide">
              <h5>Dati Utente Decriptati:</h5>
              <table class="decrypteduser mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                <tbody></tbody>
              </table>
            </div>
          </section>
        </form>
      </div>
    </div>
  </div>
</div>

{{#section 'beforebodyend'}}
  <div id="modal" class="modal modal__bg">
    <div class="modal__dialog">
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__title">
            <h2 class="modal__title-text">Errore</h2>
          </div>
          <span class="mdl-button mdl-button--icon mdl-js-button material-icons modal__close"></span>
        </div>

        <div class="modal__text">
          <p class="error_msg"></p>
        </div>

        <div class="modal__footer">
          <a class="mdl-button mdl-button--colored mdl-js-button modal__close">
            Chiudi
          </a>
        </div>
      </div>
    </div>
  </div>
{{/section}}

{{#section 'afterbody'}}
  <script src="/js/material-modal/material-modal.js"></script>
  <script src="/js/paper-collapse/paper-collapse.js"></script>
  <script src="/js/utils/crypto.js"></script>
  <script src="/js/userdata.js"></script>
{{/section}}
