* {
  font-family: 'Titillium Web', sans-serif !important;
}

.material-icons {
  font-family: 'Material Icons' !important;
}

.mdl-card__supporting-text {
  font-size: 16px;
}

.demo-layout-transparent {
  background: url('/img/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.demo-card-wide.mdl-card {
  /*width: 512px;*/
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  /*height: 176px;*/
  height: 80px;
  background: #bb0000;
  /*opacity: 0.5;*/
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-blog .demo-blog__posts {
  max-width: 900px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-blog.mdl-layout .mdl-layout__content {
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.demo-blog .mdl-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 260px;
}

.mdl-button--file {
  right: 0px;
}

.mdl-button--file input{
  cursor: pointer;
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: calc(100% - 32px);
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* ==========  Select Field Variables ========== */
$color-black: "0,0,0";
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$select-font-size: 16px;
$select-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$select-padding: 4px;

/* ==========  Select Field ========== */

/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: $select-padding 0;
  font-size: $select-font-size;
  color: $select-color;
  border: none;
  border-bottom: 1px solid $select-border-color;
}

/* Remove focus */
select:focus {
  outline: none
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
  color: #fff;
  background-color: #bb0000;
}
.mdl-button--accent.mdl-button--accent {
  color: #bb0000;
}

.logo-image {
  height: 40px;
  width: 320px;
}

.logo-image-drawer {
  padding-left: 40px;
  padding-top: 5px;
  height: 40px;
  width: 105px;
}

.venis-logo {
  height: 20px;
  width: 58px;
}

.comune-logo {
  height: 32px;
  width: 21px;
}

.mdl-layout__header {
  background-color: #424242;
}

.mdl-layout__header-row .mdl-navigation__link {
  font-weight: bolder;
}

/** tables **/
.mdl-data-table__cell--non-numeric {
  padding: 18px 18px 0 !important;
}

.mdl-data-table__cell--button {
  padding-top: 10px !important;
}

.mdl-button {
  color: #bb0000;
}

.mdl-button--icon {
  height: 42px;
}

/** stati ***/
.created {
  font-weight: bold;
}

.read {

}

.section-padding {
  padding: 5px;
  margin-top: 5px;
}

.mdl-button--big {
  font-size: 24px;
}

a {
  color: #bb0000;
  font-weight: 500;
}

strong {
  color:#000000;
}

.crypted-box {
  padding: 5px;
  background: #eee;
}

.full-width {
    width: 100%;
}

.mdl-data-table__cell--wrap {
  white-space: normal !important;
}

@media (max-width: 599px) {
  .hideonsmallscreen{
    display:none;
  }

  .android-title {
    margin-left: 40px;
  }

  .logo-image {
    height: 30px;
    width: 250px;
  }

  .mdl-mini-footer {
    padding: 2px 16px 36px 16px;
  }

  .mdl-logo {
    margin-bottom: 0;
  }
}

@media (max-width: 900px) {
  .mdl-navigation-header {
    display: none;
  }

  .android-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 140px);
    top: 12px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
